extends layout

block content
    include ../components/header
    link(rel='stylesheet', href='/stylesheets/header.css')

    include ../components/nav
    link(rel='stylesheet', href='/stylesheets/nav.css')

    include ../components/map/mapContent
    link(rel='stylesheet', href='/stylesheets/map/mapContent.css')
    script(src="/javascripts/map/mapContent.js")